body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

p {
    text-indent: 10%;
}

.container {
    display: flex; 
    flex-direction: column;
    background-color: rgb(203, 205, 206);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: beige;
    padding: 8px;
}

.left,
.right {
    display: flex;
    gap: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(17, 17, 24);
    margin-right: 24px;
}

.title_page {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.title_info,
.middle_page {
    display: flex;
    flex-direction: column;
}

.header img {
    width:40px;
    height: auto;
    min-width: 40px;
    margin: 30px;
}

.title_page img {
    width: 400px;
    height: auto;
    margin: 4px;
}

.middle_page {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
}

.card_collection {
    display: flex;

}

.info_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-left: 12px;
    margin-right: 12px;
}

.info_card img {
    width: 100px;
    height: auto;
    border-radius: 12px;
    padding: 2px;
    background: rgb(68, 68, 141);
}

.testimonial {
    background: rgb(175, 173, 173);
    padding: 24px;
}

.call_action {
    display: flex;
    justify-content: space-around;
    margin: 16px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 24px;
    background: rgb(91, 91, 218);
    border-radius: 10px;
}

.action_text {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    padding: 6px;
}